# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\KITSADA\source\repos\FDA_LCN_HERB_NEW\FDA_LCN_HERB_NEW\Views\STAFF_LCN_EDIT\ codebase based on best match to current usage at 2/20/2023
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

